<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Reset Datastore</h3>
  </div>
  <div class="panel-body">
    <%= form_tag({controller: :dashboard, action: :reset }, method: :post, html: { class: 'form' }) do %>
      <%= check_box_tag(:clear_enqueued_jobs, 1, true) %>
      <%= label_tag(:clear_enqueued_jobs, 'Clear enqueued jobs (not already executing)') %>

      <%= check_box_tag(:destroy_feed_versions, 1, true) %>
      <%= label_tag(:destroy_feed_versions, 'Destroy feed versions (and their attached GTFS archives') %>

      <%= check_box_tag(:clear_cache, 1, true) %>
      <%= label_tag(:clear_cache, 'Clear cache') %>

      <%= check_box_tag(:truncate_database, 1, true) %>
      <%= label_tag(:truncate_database, 'Truncate database') %>

      <%= submit_tag('Reset', class: 'btn btn-danger') %>
    <% end %>
  </div>
</div>
