<!DOCTYPE html>
<html>
<head>
  <title>Transitland Datastore Admin</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <style>
    body {
      padding-top: 80px;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Transitland Datastore Admin</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="<%= 'active' if current_page? root_path %>"><a href="/">Main</a></li>
          <li><a href="/admin/workers">Workers</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <% if flash[:success] %>
      <div class="alert alert-success" data-alert="alert">
        <%= flash[:success] %>
      </div>
    <% end %>
    <% if flash[:info] %>
      <div class="alert alert-info" data-alert="alert">
        <%= flash[:info] %>
      </div>
    <% end %>
    <% if flash[:error] %>
      <div class="alert alert-error" data-alert="alert">
        <%= flash[:error] %>
      </div>
    <% end %>
    <% if flash[:warning] %>
      <div class="alert alert-warning" data-alert="alert">
        <%= flash[:warning] %>
      </div>
    <% end %>

    <%= yield %>
  </div>
</body>
</html>
